In [1]:
import pandas as pd
import numpy as np

In [2]:
py = pd.read_csv('Downloads\CarPrice.csv', usecols=['CarName','fueltype'])

In [3]:
py.head()

                    CarName fueltype
0        alfa-romero giulia      gas
1       alfa-romero stelvio      gas
2  alfa-romero Quadrifoglio      gas
3               audi 100 ls      gas
4                audi 100ls      gas

In [4]:
py['Fuel'] = py['fueltype'].str.find('gas')

In [5]:
py.head()

                    CarName fueltype  Fuel
0        alfa-romero giulia      gas     0
1       alfa-romero stelvio      gas     0
2  alfa-romero Quadrifoglio      gas     0
3               audi 100 ls      gas     0
4                audi 100ls      gas     0

In [6]:
x= py.pop('Fuel')

In [11]:
y= x.replace(to_replace=0, value=1)
y= x.replace(to_replace=-1, value=0)

In [12]:
y

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    0
204    0
Name: Fuel, Length: 205, dtype: int64

In [15]:
data = {'Fuel':y}
df= pd.DataFrame(data)

In [16]:
df

     Fuel
0       0
1       0
2       0
3       0
4       0
..    ...
200     0
201     0
202     0
203     0
204     0

[205 rows x 1 columns]